<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegrationService_UserSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="IntegrationService_UserSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sdp.qom.ir/services/userpass/cas.asmx"
                binding="basicHttpBinding" bindingConfiguration="IntegrationService_UserSoap"
                contract="CASService.IntegrationService_UserSoap" name="IntegrationService_UserSoap" />
        </client>
    </system.serviceModel>
</configuration>